* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/*body*/

body {
  background: no-repeat right top fixed scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.receitaimg {
  width: 35px;
  margin-left: 5vh;
  margin-right: 1vh;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 78vh;
  padding: 10px;
  margin-top: 18vh;
  margin-bottom: 18vh;
}

section div {
  background-color: #f5f5f5;
  padding: 3.5vh;
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
  width: 100%;
  max-width: 500px;
}

section div article {
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-content: center;
  display: flex;
}

section div h3 {
  font-size: 23px;
  text-align: center;
}

label {
  margin-top: 3vh;
  font-size: 16px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcular {
  font-size: 16px;
  width: 100%;
  background-color: black;
  border: none;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.calcular:hover {
  background-color: #3f3f3f;
  transition: 0.25s;
}

section aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
/*bodyends*/

/*footer*/
footer {
  background-color: #06050b;
  background-image: url(../img/footerspace.png);
  bottom: 0;
  width: 100%;
  position: relative;
}
/*footerends*/

/*media*/
@media (min-width: 600px) {
  body {
    height: 100vh;
  }
}
/*mediaends*/
